.chat-container {
    max-width: 800px; /* מגביל את רוחב הקונטיינר */
    margin: 0 auto; /* מרכז אופקית */
    position: absolute; /* מאפשר מיקום יחסי למסך */
    top: 50%; /* מתחיל ממרכז המסך אנכית */
    left: 50%; /* מתחיל ממרכז המסך אופקית */
    transform: translate(-50%, -50%); /* מביא את הקונטיינר לאמצע בפועל */
    /* background-color: rgba(0, 0, 0, 0.5); רקע חצי שקוף */
    padding: 20px; /* ריווח פנימי */
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* צל כדי להוסיף אפקט */
}
#nameButton{
    position: absolute; /* מאפשר מיקום יחסי לקונטיינר */
    top: 17%; /* מרכז את הכפתור אנכית ביחס לחלון ההודעות */
    transform: translateY(-50%); /* מביא אותו למרכז אנכי */
    right: 14px; /* מרחק מימין לחלון */
    z-index: 10; /* מבטיח שהוא יישאר מעל כל האלמנטים האחרים */
}
#send-button{
    margin: 5px;
}
#chat-messages {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(214, 236, 228, 0.781);
    
}
.message {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 50%;
    word-wrap: break-word;
    color: #ffffff;
}
.my-message {
    margin-left: auto;
}
.other-message {
    margin-right: auto;
}
.message-info {
    font-weight: bold;
    margin-bottom: 5px;
    color: #e8dfdf; /* צבע הכותרת (שם המשתמש) */
}

.message-content {
    margin-bottom: 5px;
}

.message-time {
    font-size: 0.8em;
    color: #666;
}

.message-actions {
    display: none;
    margin-top: 5px;
}
.message:hover .message-actions {
    display: block;
}
#nameButton{
    text-align: right;
}
header {
    height: 90px;
    width: 670px; /* הרוחב הקבוע */
    background-color: #064e37;
    background: linear-gradient(#111f17, #064e37, #07996b);
    margin: 0 auto; /* מרכז את ה-header אופקית */
    text-align: center; /* מיישר את הטקסט במרכז */
 
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #72a980;
    font-weight: bold;
    animation: glow 2s ease-in-out infinite alternate;
    font-size:4rem;
    font-weight: 300;
    text-shadow: 0 0 5px #41d1a5;
    margin-top: 24px;
}
@keyframes glow {
    from {
      text-shadow: 0 0 40px #025141;
    }
    to {
      text-shadow: 0 0 70px #115b28, 0 0 20px #018a48;
    }
  }
#test {
    position: fixed; /* מציב את ה-canvas כאלמנט קבוע ברקע */
    top: 0;
    left: 0;
    width: 100%; /* מתאים את הרוחב למסך */
    height: 100%; /* מתאים את הגובה למסך */
    z-index: -1; /* שולח את ה-canvas לשכבה מתחת */
   
    background-color: #111f17;
}



#send_emoji{
    margin-left: 10px;  
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.emoji-container {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    z-index: 1000;
    width: 200px;
    white-space: pre-wrap;
    position: absolute;
   bottom: 30px;
    right: 770px; /* מיקום לצד הכפתור */
    max-height: 200px;
    cursor: pointer;
     background-color: rgba(0, 0, 0, 0.5);/*רקע חצי שקוף*/
     overflow-y: auto; /* גלילה במקרה של הרבה אימוג'ים */
     white-space: normal; /* שבירת שורה אם התיבה צרה */
     font-size: 34px; /* גודל האימוג'ים */
     line-height: 1.5; /* מרווח בין שורות */
}






